* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  margin: 0;
}

body {
  overflow: auto;
}

body.sticky-mode {
  min-height: 0;
  height: auto;
  overflow: hidden;
  background: transparent;
}

html.sticky-mode {
  min-height: 0;
  height: auto;
  overflow: hidden;
  background: transparent;
}
